In [9]:
import pandas as pd
import json
import csv

In [12]:
with open('cancer.json', 'r') as file:
    data_json = json.loads(file.read())
df = pd.json_normalize(data_json)

In [20]:
print("Кол-во столбцов: ", df.shape[1])

Кол-во столбцов:  75

In [21]:
print("Кол-во записей: ", df.shape[0])

Кол-во записей:  51

In [16]:
df.head()

,State,Total.Rate,Total.Number,Total.Population,Rates.Age.< 18,Rates.Age.18-45,Rates.Age.45-64,Rates.Age.> 64,Rates.Age and Sex.< 18.Female,Rates.Age and Sex.< 18.Male,...,Types.Lung.Age and Sex.Male.18 - 44,Types.Lung.Age and Sex.Male.45 - 64,Types.Lung.Age and Sex.Male.> 64,Types.Lung.Race.White,Types.Lung.Race.White non-Hispanic,Types.Lung.Race.Black,Types.Lung.Race.Black non-Hispanic,Types.Lung.Race.Asian,Types.Lung.Race.Indigenous,Types.Lung.Race.Hispanic
0,Alabama,214.2,71529.0,33387205.0,2.0,18.5,244.7,1017.8,2.0,2.1,...,2.4,102.9,457.4,59.9,60.4,52.6,52.8,23.0,22.9,14.8
1,Alaska,128.1,6361.0,4966180.0,1.7,11.8,170.9,965.2,0.0,0.0,...,0.0,50.3,335.0,48.7,49.5,45.6,47.9,33.0,74.4,0.0
2,Arizona,165.6,74286.0,44845598.0,2.5,13.6,173.6,840.2,2.6,2.5,...,0.8,47.0,275.8,39.5,42.2,38.2,40.4,21.3,11.1,21.6
3,Arkansas,223.9,45627.0,20382448.0,2.3,17.6,250.1,1048.3,2.6,2.0,...,1.8,106.5,484.7,63.4,64.2,62.9,63.0,18.1,16.2,14.6
4,California,150.9,393980.0,261135696.0,2.6,13.7,163.7,902.4,2.4,2.8,...,0.8,36.8,269.0,37.2,42.6,46.5,48.6,25.8,18.4,18.3

In [22]:
df.dtypes

State                                  object
Total.Rate                            float64
Total.Number                          float64
Total.Population                      float64
Rates.Age.< 18                        float64
                                       ...
Types.Lung.Race.Black                 float64
Types.Lung.Race.Black non-Hispanic    float64
Types.Lung.Race.Asian                 float64
Types.Lung.Race.Indigenous            float64
Types.Lung.Race.Hispanic              float64
Length: 75, dtype: object

In [24]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
State,51,51,New Mexico,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total.Rate,51.0,NaN,NaN,NaN,190.656863,28.592155,98.5,176.5,196.1,210.75,254.6
Total.Number,51.0,NaN,NaN,NaN,78723.72549,80861.292676,6361.0,20631.0,54930.0,93328.0,393980.0
Total.Population,51.0,NaN,NaN,NaN,42401510.509804,47842444.317019,3931624.0,11869909.5,30348057.0,46503256.0,261135696.0
Rates.Age.< 18,51.0,NaN,NaN,NaN,2.119608,0.502004,0.0,2.05,2.2,2.4,2.7
...,...,...,...,...,...,...,...,...,...,...,...
Types.Lung.Race.Black,51.0,NaN,NaN,NaN,44.056863,20.517283,0.0,38.15,47.0,60.0,73.2
Types.Lung.Race.Black non-Hispanic,51.0,NaN,NaN,NaN,44.5,21.431435,0.0,39.95,48.6,60.35,73.6
Types.Lung.Race.Asian,51.0,NaN,NaN,NaN,19.323529,10.427801,0.0,18.35,22.2,25.5,33.9
Types.Lung.Race.Indigenous,51.0,NaN,NaN,NaN,27.309804,26.435236,0.0,4.45,20.9,44.25,87.5
Types.Lung.Race.Hispanic,51.0,NaN,NaN,NaN,16.184314,8.041079,0.0,13.7,18.1,20.45,35.2

# Csv

In [ ]:
df_csv =