### Предварительная обработка данных

#### Стандартизация или удаление среднего и масштабирование дисперсии

In [11]:
import pandas as pd 
import matplotlib as plt
import warnings
warnings.simplefilter('ignore')

In [12]:
data = pd.DataFrame(
    {
        'Lucky':[50, 70, 38, 29],
        'Rating':[24, 35, 12, 0],
        'Friendly':[0.8, 0.2, 0.99, 0.01],
        'Duration':[2, 3, 0.5, 1],
        'Sneakers':['Yes', 'Yes', 'No', 'Yes'],
        'Vest':['Yes', 'No', 'Yes', 'Yes'],
    }
)
data

   Lucky  Rating  Friendly  Duration Sneakers Vest
0     50      24      0.80       2.0      Yes  Yes
1     70      35      0.20       3.0      Yes   No
2     38      12      0.99       0.5       No  Yes
3     29       0      0.01       1.0      Yes  Yes

### Применяем LabelEncdore, чтобы перевести категориальные признаки в числовые

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
df = data.copy(deep=True)

In [16]:
Sneakers_le = LabelEncoder()
df.Sneakers = Sneakers_le.fit_transform(df.Sneakers)

Vest_le = LabelEncoder()
df.Vest = Vest_le.fit_transform(df.Vest)

df

   Lucky  Rating  Friendly  Duration  Sneakers  Vest
0     50      24      0.80       2.0         1     1
1     70      35      0.20       3.0         1     0
2     38      12      0.99       0.5         0     1
3     29       0      0.01       1.0         1     1

### Из-за разного масштаба данных, применяется стандартизация всего набора данных

In [17]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler.fit(df)